n8n/backup/workflows/DxG5M3WsiirgVpUH.json
{"createdAt":"2025-04-21T12:57:55.212Z","updatedAt":"2025-04-21T13:08:50.000Z","id":"DxG5M3WsiirgVpUH","name":"Incident Helper","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"679a1298-6523-48d8-a26e-e934f55631a1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,150],"id":"ff98c04d-119c-45a1-a67a-d73645c43efa","name":"Slack Trigger","webhookId":"be204286-bba5-44fe-82f3-226d924141f7"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"thread_ts\": \"{{ $json.body.payload.parseJson().message.thread_ts }}\",\n  \"message_ts\": \"{{ $json.body.payload.parseJson().message_ts }}\",\n  \"channel_id\": \"{{ $json.body.payload.parseJson().channel.id }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,150],"id":"9885f7de-5bd5-4f19-8d1f-eb4e190567a1","name":"Extract Thread & Channel"},{"parameters":{"resource":"channel","operation":"replies","channelId":{"__rl":true,"value":"={{ $json.channel_id }}","mode":"id"},"ts":"={{ $json.thread_ts }}","returnAll":true,"filters":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-440,150],"id":"abeb1d0a-ce25-4c66-93f2-61f2a7c6dce0","name":"Get Thread Messages","webhookId":"706529a8-c844-49bb-a4aa-0269809cf7fb","credentials":{"slackApi":{"id":"5rgJgSY5deO42gEa","name":"Slack account"}}},{"parameters":{"jsCode":"const set = new Set();\n\nfor (const message of $input.all()) {\n  const userId = message.json.user;\n\n  if (!userId) continue;\n\n  set.add(userId)\n  \n}\n\nreturn { userId: Array.from(set) };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,375],"id":"2ac6aa45-b060-4204-9f8d-5243da3ad42b","name":"Filter User Ids"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cad9b2fb-8d34-4ccd-ad3d-a4a448039772","leftValue":"={{ $json.image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,0],"id":"e64b414b-deb7-428e-b75e-a0ef72adf89e","name":"Filter Valid Image"},{"parameters":{"url":"={{ $json.image.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,75],"id":"97c597cd-e0f2-4d64-aecf-5623bbd5149d","name":"Download Image","retryOnFail":true,"credentials":{"slackApi":{"id":"5rgJgSY5deO42gEa","name":"Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"user","user":{"__rl":true,"value":"={{ $json.userId }}","mode":"id"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[880,375],"id":"1b3f724b-7cea-443e-be55-418ddbd5bb0a","name":"Get User Detail","webhookId":"9b7253cb-8686-4759-b77f-f0f92707d7f7","credentials":{"slackApi":{"id":"5rgJgSY5deO42gEa","name":"Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,0],"id":"43b76258-c0ce-4e3f-b99f-2ae2552a286a","name":"Merge"},{"parameters":{"fieldToSplitOut":"userId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[660,375],"id":"bbbcdcd4-2436-44ae-91ba-75ebf4015bc4","name":"Flatten User Id"},{"parameters":{"fieldToSplitOut":"image","include":"selectedOtherFields","fieldsToInclude":"timestamp","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0],"id":"0deaf4f3-8196-479e-80b7-f922d390e76d","name":"Get Image URL"},{"parameters":{"operation":"binaryToPropery","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,75],"id":"88c4c085-439d-4518-8182-4decd073274a","name":"Convert Image To Base64"},{"parameters":{"mode":"combineBySql","numberInputs":3,"query":"SELECT\n  input1.timestamp,\n  COALESCE(input2.real_name, input1.user) AS user,\n  input1.message,\n  input3.data as image\nFROM input1\nLEFT JOIN input2\n  ON input1.user = input2.id\nLEFT JOIN input3\n  ON input1.timestamp = input3.timestamp"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1100,225],"id":"3e09f9ab-dbe2-423a-abd4-97450beb0c6f","name":"Combine Relevant Data"},{"parameters":{"assignments":{"assignments":[{"id":"e3b8c404-dbbd-4b97-b4a9-5ffeee0fa6fb","name":"timestamp","value":"={{ $json.ts }}","type":"number"},{"id":"1c9e3ca0-02a6-4665-9048-aa3a24e31ab4","name":"user","value":"={{ $json.user ?? $json.username }}","type":"string"},{"id":"5bdf0539-29b7-4b8b-9077-e3680a7bfaf0","name":"message","value":"={{ $json.text || $json.attachments.first().title }}","type":"string"},{"id":"a41c053f-d9f5-45d0-8a96-8f1f599b9c33","name":"image","value":"={{ $json.files.map(img => ({ id: img.id, url: img.url_private_download })) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,75],"id":"67d24415-7d6f-443b-94fc-570b53bd481c","name":"Extract Relevant Data"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-7-sonnet-20250219","cachedResultName":"Claude 3.7 Sonnet"},"options":{"thinking":false}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1788,445],"id":"a1ef6f65-439b-40a3-9750-b32f1655bdf6","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QK12YTnE6Tromrq2","name":"Anthropic account"}}},{"parameters":{"jsCode":"const map = new Map();\n\nconst threadTs = $input.first().json.timestamp;\n\nfor (const record of $input.all()) {\n  if (map.has(record.json.timestamp)) {\n    map.get(record.json.timestamp).images.push(record.json.image);\n    continue;\n  }\n  \n  map.set(record.json.timestamp, {\n    root: threadTs,\n    timestamp: record.json.timestamp,\n    user: record.json.user,\n    message: record.json.message,\n    images: [record.json.image],\n  });\n}\n\nreturn Array.from(map.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,225],"id":"a5667ecf-5c9a-4452-9ba8-edf5d349f350","name":"Zip Images To Message"},{"parameters":{"jsCode":"const formattedMessages = [];\nconst tz = \"Australia/Sydney\";\nconst timeFormat = \"HH:mm:ss\"\n\nfor (const item of $input.all()) {\n  const jsonItem = item.json;\n  const timeStr = DateTime.fromMillis(jsonItem.timestamp).setZone(tz).toFormat(timeFormat);\n  const user = jsonItem.user;\n  const message = jsonItem.message;\n  formattedMessages.push(`[${timeStr}] ${user}: ${message}`)\n}\n\nreturn {\n  root: $input.first().json.root,\n  messages: formattedMessages,\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,225],"id":"91bb71ce-27e7-48f5-8ff0-eac287bf6ef5","name":"Prepare Messages"},{"parameters":{"select":"user","user":{"__rl":true,"value":"={{ $('Slack Trigger').first().json.body.payload.parseJson().user.id }}","mode":"id"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2512,225],"id":"e196832a-ec97-4dda-befc-ab7a0a2d5db7","name":"Slack","webhookId":"f7601b7e-0afc-4874-b56c-9e2c5f52ea3a","credentials":{"slackApi":{"id":"5rgJgSY5deO42gEa","name":"Slack account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-7-sonnet-20250219","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2224,445],"id":"90f71904-cdb8-4ce5-ac8f-932d8ff9277c","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"QK12YTnE6Tromrq2","name":"Anthropic account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.root }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1908,445],"id":"667f7ec1-a59e-42b0-8592-85ffbeb038a8","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=[Conversation]\n{{ $json.messages.join(\"\\n\") }}","options":{"systemMessage":"[System Instructions]\nYou are an incident analysis assistant. Your task is to analyze a Slack conversation about an incident and extract key information to create a concise summary for management.\n\n[Context]\nThe following is a Slack conversation from an incident investigation thread. The conversation involves engineers discussing and resolving a technical incident related to our microservices running on AWS. The conversation may include images such as screenshots of error messages, monitoring dashboards, or logs.\n\n[Task Description]\nAnalyze the conversation and extract the following information:\n1. Incident cause: What triggered or caused the incident (e.g., deployment error, infrastructure issue, external dependency)\n2. Impact: What systems or users were affected and how severely (e.g., service downtime, degraded performance, data loss)\n3. Resolution steps: What actions were taken to resolve the incident (e.g., rollback, configuration change, scaling)\n4. Timeline: When the incident started, key events during investigation, and when it was resolved\n\n[Image Analysis]\nFor any images in the conversation:\n- Describe what the image shows (e.g., error message, graph, screenshot)\n- Extract relevant information from the image (e.g., error codes, metrics, timestamps)\n- Incorporate this information into your analysis of cause, impact, resolution, or timeline\n- If an image appears to contain critical information but you cannot fully interpret it, note this in your summary\n\n[Special Instructions]\n- If certain information is not explicitly stated, indicate this clearly rather than making assumptions\n- Maintain technical accuracy while making the summary accessible to non-technical stakeholders\n- If the conversation contains conflicting theories or information, note the final consensus or indicate that the cause was not definitively determined\n- If the conversation appears to discuss multiple incidents, focus on the primary incident being investigated\n\n[Output Format]\nProvide your analysis in the following format:\n\n## Incident Summary\n\n**Cause:**\n[1-2 sentences describing the root cause]\n\n**Impact:**\n[1-2 sentences describing who/what was affected and how]\n\n**Resolution:**\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n\n**Timeline:**\n- [Time] Incident began\n- [Time] [Key event]\n- [Time] [Key event]\n- [Time] Incident resolved\n\n**Key Visual Evidence:**\n- [Brief description of significant image and what it revealed]\n- [Brief description of significant image and what it revealed]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1760,225],"id":"8f3f6694-c14f-4f0e-b614-937cdcc11752","name":"Incident Summarize","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=[Result]\n{{ $json.output }}","options":{"systemMessage":"[Objective]\nTransform the raw incident summary information into a concise Slack rich text block that effectively communicates the details to higher management.\n\n[Incident Summary Structure]\n1. Incident Title:\n ▪ Start with a clear title indicating the incident topic (e.g., “Database Timeouts in svc-reservation Service”). \t2. Cause:\n ▪ Summarize the cause of the incident in straightforward terms. \t\n3. Impact:\n ▪ Describe the impact on users/system, specifying affected endpoints and the nature of the issues encountered. \t\n4. Resolution:\n ▪ Outline the resolution steps taken, emphasizing any automatic recovery processes and required follow-up actions. \t\n5. Timeline:\n ▪ Present a chronological list of key timestamps and actions related to the incident for clarity. \t\n6. Key Visual Evidence:\n ▪ Include a brief list of evidence that supports the incident analysis (e.g., error logs, graphs, dashboards).\n\n[Formatting for Slack Rich Text]\n • Use the following formatting guidelines for Slack blocks:\n  ▪ Headings: Use ⁠* for bold (e.g., ⁠*Impact:*).  \n  ▪ Bulleted points: Start with ⁠• for clarity. \t\n  ▪ Code formatting: Use backticks (`) for code snippets or endpoint URL representations.\n\n[Note]\nYou must strictly follow the structure without explanation that you are just formatting the output from another agent. You must act as the system as a whole."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2136,225],"id":"046136ea-e5fa-4c38-ade0-5529e523d240","name":"Slack Formatting"}],"connections":{"Slack Trigger":{"main":[[{"node":"Extract Thread & Channel","type":"main","index":0}]]},"Extract Thread & Channel":{"main":[[{"node":"Get Thread Messages","type":"main","index":0}]]},"Get Thread Messages":{"main":[[{"node":"Extract Relevant Data","type":"main","index":0},{"node":"Filter User Ids","type":"main","index":0}]]},"Filter User Ids":{"main":[[{"node":"Flatten User Id","type":"main","index":0}]]},"Filter Valid Image":{"main":[[{"node":"Download Image","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Convert Image To Base64","type":"main","index":0}]]},"Get User Detail":{"main":[[{"node":"Combine Relevant Data","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Combine Relevant Data","type":"main","index":2}]]},"Flatten User Id":{"main":[[{"node":"Get User Detail","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Filter Valid Image","type":"main","index":0}]]},"Convert Image To Base64":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Combine Relevant Data":{"main":[[{"node":"Zip Images To Message","type":"main","index":0}]]},"Extract Relevant Data":{"main":[[{"node":"Get Image URL","type":"main","index":0},{"node":"Combine Relevant Data","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Incident Summarize","type":"ai_languageModel","index":0}]]},"Zip Images To Message":{"main":[[{"node":"Prepare Messages","type":"main","index":0}]]},"Prepare Messages":{"main":[[{"node":"Incident Summarize","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Slack Formatting","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Incident Summarize","type":"ai_memory","index":0}]]},"Incident Summarize":{"main":[[{"node":"Slack Formatting","type":"main","index":0}]]},"Slack Formatting":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Slack Trigger":[{"json":{"headers":{"x-forwarded-for":"54.175.124.138","x-forwarded-port":"443","host":"quiet-ways-eat.loca.lt","x-forwarded-proto":"https, https","content-type":"application/x-www-form-urlencoded","content-length":"3147","x-slack-request-timestamp":"1745240752","x-slack-signature":"v0=2c5e3875fd8195c526128decace2cddcd91d201b29fa142c8dbaa9a3bb49a8f7","accept":"application/json,*/*","accept-encoding":"gzip,deflate","user-agent":"Slackbot 1.0 (+https://api.slack.com/robots)","x-forwarded-host":"quiet-ways-eat.loca.lt","connection":"keep-alive"},"params":{},"query":{},"body":{"payload":"{\"type\":\"message_action\",\"token\":\"y2BXGbbYG6RjcjnE4h50gAjD\",\"action_ts\":\"1745240752.508427\",\"team\":{\"id\":\"TCWH2EC6L\",\"domain\":\"luxgroup-hq\"},\"user\":{\"id\":\"U08GEV8TCU8\",\"username\":\"daniel.nguyen\",\"team_id\":\"TCWH2EC6L\",\"name\":\"daniel.nguyen\"},\"channel\":{\"id\":\"C01B1HZDZ7Z\",\"name\":\"support\"},\"is_enterprise_install\":false,\"enterprise\":null,\"callback_id\":\"summarize_incident\",\"trigger_id\":\"8773446996134.438580488224.31ee01221c0f5e5a579a4ce910f64afb\",\"response_url\":\"https:\\/\\/hooks.slack.com\\/app\\/TCWH2EC6L\\/8773446978710\\/9hAL1xkuaUvi14UTAfkcG4KE\",\"message_ts\":\"1745118903.494609\",\"message\":{\"subtype\":\"bot_message\",\"text\":\"\",\"username\":\"Opsgenie\",\"attachments\":[{\"id\":1,\"color\":\"2ecc71\",\"fallback\":\"\\\"[New Relic] Log query result is &gt; 60.0 for 2 minutes on '500s in svc-reservation'\\\" <https:\\/\\/opsg.in\\/a\\/i\\/aussiecommerce\\/8977d788-e56b-4f42-8958-2d1b08cceeb7-1745118903059|12173>\\nTags:\",\"text\":\"Policy Name : OpsGenie\\nTarget Name : Log query\\nTarget Type : Query\\nTarget Product : NRQL\\nTarget Labels : [{accountId=2826932, trustedAccountId=2826932, nr.alerts.enabled=true, nr.alerts.type=NRQL Query, policyId=1124558, account=Luxury Escapes Primary, dataAccountId=2826932, nr.alerts.policyId=1124558, enabled=true, type=NRQL Query, id=17864832, service=production-le-svc-reservation, nr.alerts.conditionId=17864832}]\\nTarget Link : <https:\\/\\/radar-api.service.newrelic.com\\/accounts\\/2826932\\/issues\\/77a5f8f0-f5f4-4e2d-ae8d-1d98b6b278b1?notifier=WEBHOOK>\\n\\nTimestamp : 2025-04-20 03:14:59 +0000\",\"title\":\"#12173: [New Relic] Log query result is &gt; 60.0 for 2 minutes on '500s in svc-reservation'\",\"title_link\":\"https:\\/\\/opsg.in\\/a\\/i\\/aussiecommerce\\/8977d788-e56b-4f42-8958-2d1b08cceeb7-1745118903059\",\"callback_id\":\"2b6ce293-a78d-46ea-abbc-28ab76c1fb6c_801f1ba2-0a03-42c6-b3dc-8d4777bf7ee1_12173\",\"fields\":[{\"value\":\"P1\",\"title\":\"Priority\",\"short\":true},{\"value\":\"Engineering\",\"title\":\"Routed Teams\",\"short\":true}],\"mrkdwn_in\":[\"text\"]}],\"type\":\"message\",\"ts\":\"1745118903.494609\",\"edited\":{\"user\":\"BFVERKL4V\",\"ts\":\"1745118975.000000\"},\"bot_id\":\"BFVERKL4V\",\"app_id\":\"A286WATV2\",\"thread_ts\":\"1745118903.494609\",\"reply_count\":8,\"reply_users_count\":1,\"latest_reply\":\"1745119579.838529\",\"reply_users\":[\"U05NUAL9V6F\"],\"is_locked\":false,\"subscribed\":false}}"},"webhookUrl":"http://localhost:5678/webhook-test/679a1298-6523-48d8-a26e-e934f55631a1","executionMode":"test"}}]},"versionId":"7c5b9b65-a03c-447a-97ad-ee6d089e93e3","triggerCount":1,"tags":[]}