n8n/backup/workflows/LqNXtdVAC2VMYACt.json
{"createdAt":"2025-04-15T13:06:57.926Z","updatedAt":"2025-04-15T21:39:23.334Z","id":"LqNXtdVAC2VMYACt","name":"Incident Summarisation","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=[Conversation]\n{{ $json.chatInput }}","options":{"systemMessage":"[System Instructions]\nYou are an incident analysis assistant. Your task is to analyze a Slack conversation about an incident and extract key information to create a concise summary for management.\n\n[Context]\nThe following is a Slack conversation from an incident investigation thread. The conversation involves engineers discussing and resolving a technical incident related to our microservices running on AWS. The conversation may include images such as screenshots of error messages, monitoring dashboards, or logs.\n\n[Task Description]\nAnalyze the conversation and extract the following information:\n1. Incident cause: What triggered or caused the incident (e.g., deployment error, infrastructure issue, external dependency)\n2. Impact: What systems or users were affected and how severely (e.g., service downtime, degraded performance, data loss)\n3. Resolution steps: What actions were taken to resolve the incident (e.g., rollback, configuration change, scaling)\n4. Timeline: When the incident started, key events during investigation, and when it was resolved\n\n[Image Analysis]\nFor any images in the conversation:\n- Describe what the image shows (e.g., error message, graph, screenshot)\n- Extract relevant information from the image (e.g., error codes, metrics, timestamps)\n- Incorporate this information into your analysis of cause, impact, resolution, or timeline\n- If an image appears to contain critical information but you cannot fully interpret it, note this in your summary\n\n[Special Instructions]\n- If certain information is not explicitly stated, indicate this clearly rather than making assumptions\n- Maintain technical accuracy while making the summary accessible to non-technical stakeholders\n- If the conversation contains conflicting theories or information, note the final consensus or indicate that the cause was not definitively determined\n- If the conversation appears to discuss multiple incidents, focus on the primary incident being investigated\n\n[Output Format]\nProvide your analysis in the following format:\n\n## Incident Summary\n\n**Cause:**\n[1-2 sentences describing the root cause]\n\n**Impact:**\n[1-2 sentences describing who/what was affected and how]\n\n**Resolution:**\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n\n**Timeline:**\n- [Time] Incident began\n- [Time] [Key event]\n- [Time] [Key event]\n- [Time] Incident resolved\n\n**Key Visual Evidence:**\n- [Brief description of significant image and what it revealed]\n- [Brief description of significant image and what it revealed]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[80,-180],"id":"79a6e50f-4015-41d6-b167-61218598a4a1","name":"AI Agent"},{"parameters":{"model":"anthropic.claude-3-5-sonnet-20240620-v1:0","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAwsBedrock","typeVersion":1,"position":[80,60],"id":"13a3e424-95b8-47a4-826a-0410d4854ea6","name":"AWS Bedrock Chat Model","credentials":{"aws":{"id":"rwEmYsdEkpcPgtGw","name":"AWS account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[200,140],"id":"da4a8662-fed2-4d3b-9922-200a1f6fc5f1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"s5hH5wtyJn0l1Xve","name":"Postgres account"}}},{"parameters":{"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[440,-180],"id":"05242c92-bf24-4f54-8253-36ce963a5d5e","name":"Slack","webhookId":"9ddf9067-98b8-407f-9731-ba9dd666b510"},{"parameters":{"path":"be204286-bba5-44fe-82f3-226d924141f7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-180,-180],"id":"c9c170e2-59de-4b94-bd9b-2989345d8d51","name":"Webhook","webhookId":"be204286-bba5-44fe-82f3-226d924141f7"}],"connections":{"AWS Bedrock Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15a7fbf1-3e62-44c7-b5cd-470abc0d29df","triggerCount":0,"tags":[]}