n8n/backup/workflows/LqNXtdVAC2VMYACt.json
{"createdAt":"2025-04-15T13:06:57.926Z","updatedAt":"2025-04-17T08:06:00.767Z","id":"LqNXtdVAC2VMYACt","name":"Incident Summarisation","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=[Conversation]\n{{ $json.message }}","options":{"systemMessage":"[System Instructions]\nYou are an incident analysis assistant. Your task is to analyze a Slack conversation about an incident and extract key information to create a concise summary for management.\n\n[Context]\nThe following is a Slack conversation from an incident investigation thread. The conversation involves engineers discussing and resolving a technical incident related to our microservices running on AWS. The conversation may include images such as screenshots of error messages, monitoring dashboards, or logs.\n\n[Task Description]\nAnalyze the conversation and extract the following information:\n1. Incident cause: What triggered or caused the incident (e.g., deployment error, infrastructure issue, external dependency)\n2. Impact: What systems or users were affected and how severely (e.g., service downtime, degraded performance, data loss)\n3. Resolution steps: What actions were taken to resolve the incident (e.g., rollback, configuration change, scaling)\n4. Timeline: When the incident started, key events during investigation, and when it was resolved\n\n[Image Analysis]\nFor any images in the conversation:\n- Describe what the image shows (e.g., error message, graph, screenshot)\n- Extract relevant information from the image (e.g., error codes, metrics, timestamps)\n- Incorporate this information into your analysis of cause, impact, resolution, or timeline\n- If an image appears to contain critical information but you cannot fully interpret it, note this in your summary\n\n[Special Instructions]\n- If certain information is not explicitly stated, indicate this clearly rather than making assumptions\n- Maintain technical accuracy while making the summary accessible to non-technical stakeholders\n- If the conversation contains conflicting theories or information, note the final consensus or indicate that the cause was not definitively determined\n- If the conversation appears to discuss multiple incidents, focus on the primary incident being investigated\n\n[Output Format]\nProvide your analysis in the following format:\n\n## Incident Summary\n\n**Cause:**\n[1-2 sentences describing the root cause]\n\n**Impact:**\n[1-2 sentences describing who/what was affected and how]\n\n**Resolution:**\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n- [Bullet point of action taken]\n\n**Timeline:**\n- [Time] Incident began\n- [Time] [Key event]\n- [Time] [Key event]\n- [Time] Incident resolved\n\n**Key Visual Evidence:**\n- [Brief description of significant image and what it revealed]\n- [Brief description of significant image and what it revealed]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[520,-180],"id":"79a6e50f-4015-41d6-b167-61218598a4a1","name":"AI Agent","alwaysOutputData":false},{"parameters":{"httpMethod":"POST","path":"679a1298-6523-48d8-a26e-e934f55631a1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-180],"id":"c9c170e2-59de-4b94-bd9b-2989345d8d51","name":"Webhook","webhookId":"be204286-bba5-44fe-82f3-226d924141f7"},{"parameters":{"resource":"channel","operation":"replies","channelId":{"__rl":true,"value":"={{$json.body['payload'].parseJson().channel.id }}","mode":"id"},"ts":"={{$json.body['payload'].parseJson().message_ts }}","filters":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-160,-180],"id":"fba27657-43a9-4b83-96c8-c513bfd398b5","name":"Slack1","webhookId":"706529a8-c844-49bb-a4aa-0269809cf7fb","credentials":{"slackApi":{"id":"888calV7eoOGwkO0","name":"Slack account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text","renameField":true,"outputFieldName":"message"},{"fieldToAggregate":"attachments"},{"fieldToAggregate":"files"},{"fieldToAggregate":"ts","renameField":true,"outputFieldName":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,-180],"id":"ea0fe99f-7be9-4dd6-b9bc-b71cb872063f","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-7-sonnet-20250219","cachedResultName":"Claude 3.7 Sonnet"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[500,40],"id":"211f3503-9f3b-4457-9c35-fabb85ea5fc8","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"wO3eAUSA8HpODXLV","name":"Anthropic account"}}}],"connections":{"AI Agent":{"main":[[]]},"Webhook":{"main":[[{"node":"Slack1","type":"main","index":0}]]},"Slack1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fdcd745-ddbe-4f49-9bde-4d350c049b9e","triggerCount":0,"tags":[]}